@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

:root {
    --clr-white: hsl(0, 0, 100%);
    --clr-light-pink: hsl(275, 100%, 97%);
    --clr-grayish-purple: hsl(292, 16%, 49%);
    --clr-dark-purple: hsl(292, 42%, 14%);
}

p {
    font-size: 1rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(276, 89%, 89%);

}

.container {
    background-color: white;
    border-radius: 10px;
    margin: 2rem;
}

.faq-accordion {
    max-width: 600px;
    min-width: 300px;
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
    border: 2px solid var(--clr-light-pink);

}

.heading {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.ques {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.question-title {
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.hidden {
    display: none;
}

.toggle-button {
    border: none;
    background-color: var(--clr-white);
    cursor: pointer;
}

.question-content {
    margin-top: 1rem;
    color: var(--clr-grayish-purple);
}

.border-bottom {
    border-bottom: 1px solid var(--clr-light-pink);
}

.question {
    transition: all 500ms ease;
}

.question:hover {
    color: hsl(282.54deg 81.82% 54.71%);
    cursor: pointer;
}

.content {
    margin-block-end: 1rem;
}

@media (max-width: 766px) {
    body {
        background-image: url(assets/images/background-pattern-mobile.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 100vh;
    }
}